.App {
  text-align: center;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* my css */


.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navbar-collapse {
  margin-left: 64%;
}

.signup {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  font-family: inherit;
  background-color: #0AAD0A;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 20px;
}

.mainTop {
  background-color: #9dd89d;
  height: 40vh;
  line-height: 60px;
}